<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncu.yhs.dao.StudentMapper">
<!-- 第一种  按结果嵌套处理-->
    <select id="getStudent" resultMap="StudentTeacher2">
        select s.id  sid,s.name sname,t.name tname from student s,teacher t where s.name=t.name
    </select>
    <resultMap id="StudentTeacher2" type="Student">
        <result property="id" column="sid"/>
        <result property="name" column="sname"/>
        <association property="teacher" javaType="Teacher">
            <result property="name" column="tname"/>
        </association>
    </resultMap>








<!-- ===================================================   -->
<!--    第二种  按查询嵌套处理 难点-->
    <select id="getStu" resultMap="StudentTeacher">
        select * from student
    </select>
    <resultMap id="StudentTeacher" type="Student">
<!--        复杂的属性，需要处理，对象用association
        集合用collection javaType表示需要对接的对象类型
        select表示通过这个column找出来的东西的具体要干嘛
-->
       <association property="teacher" column="tid" javaType="Teacher" select="getTeacher"/>
    </resultMap>


    <select id="getTeacher" resultType="Teacher">
        select * from teacher
    </select>

</mapper>